<template>
  <section class="single-recipe">
      <h1>{{ recipes.title }}</h1>
      <div>
          <img class="recipe-image" :src="recipes.thumbnail" :alt="recipes.title">
      </div>
      <p>
          {{ recipes.descriptionText }}
      </p>
  </section>
</template>

<script>
export default {
    asyncData (context) {
        return new Promise((resolve, reject) => {
            setTimeout(()=> {
                resolve({
                    recipes: [
                        {
                            id: "1",
                            title: "Delicious Pizza",
                            previewText: "Awesome Pizza",
                            descriptionText: "This is really a delicious Pizza!",
                            thumbnail: "https://img.grouponcdn.com/deal/ibndC8sSczsdM5whApdG/Z1-700x420/v1/c700x420.jpg"
                        },
                         {
                            id: "2",
                            title: "Delicious Baza",
                            previewText: "Awesome Baza",
                            descriptionText: "This is really a delicious Baza!",
                            thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlcWzWBcnaYf7HPO0_a3J7Zto5lgPgiWxKZLf80YtCQNytfE7nog"
                        }
                    ].find(el => el.id === context.params.id)
                })
            },1500)
        })
    }
}
</script>


<style scoped>
.single-recipe{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.recipe-image{
    width: 100%;
}
</style>

