<template>
  <section class="recipes">
      <Recipe 
      v-for="recipe in recipes" 
      :key="recipe.id"
      :thumbnail="recipe.thumbnail"
      :title="recipe.title"
      :id="recipe.id"
      :previewText="recipe.previewText"
      />
  </section>
</template>

<script>
import Recipe from '@/components/Recipe'

export default {
    components: {
        Recipe
    },
    asyncData () {
        return new Promise((resolve, reject) => {
            setTimeout(()=> {
                resolve({
                    recipes: [
                        {
                            id: "1",
                            title: "Delicious Pizza",
                            previewText: "Awesome Pizza",
                            thumbnail: "https://img.grouponcdn.com/deal/ibndC8sSczsdM5whApdG/Z1-700x420/v1/c700x420.jpg"
                        },
                         {
                            id: "2",
                            title: "Delicious Baza",
                            previewText: "Awesome Baza",
                            thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlcWzWBcnaYf7HPO0_a3J7Zto5lgPgiWxKZLf80YtCQNytfE7nog"
                        }
                    ]
                })
            },1500)
        })
    },
    data () {
        return {

        }
    }
}
</script>


<style scoped>
.recipes{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

</style>
